.content.status-closed {
  background-color: #f0f0f0;
  opacity: 0.95;
}

.content.status-closed * {
  background-color: #f0f0f0;
  opacity: 0.95;
}

.status-closed {
  background-color: #f0f0f0;
  opacity: 0.95;
}

.hide {
  display: none;
}

/*
 * for bug
 * http://stackoverflow.com/questions/26107433/ratchet-modal-bug-on-ios-8
 */
header.bar.bar-nav {
  -webkit-transform: translateZ(0);
}

input[type=search]::-webkit-input-placeholder:before {
    content:''; /* #xe807 */
    font-family:Ratchicons;
    margin-right:5px;
}

/* icon */
.center {
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.toggle.toggle-status {
  width: 90px;
}

.toggle.toggle-status.active:before {
  content: "OPEN";
}

.toggle.toggle-status:before {
  content: "CLOSE";
}

.toggle.toggle-status.active .toggle-handle {
  -webkit-transform: translate3d(60px, 0, 0);
  -moz-transform: translate3d(60px, 0, 0);
  -ms-transform: translate3d(60px, 0, 0);
  -o-transform: translate3d(60px, 0, 0);
  transform: translate3d(60px, 0, 0);
}
